.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#777;
    color:white;
}

.latest-album{
    display:block;
    border:1px solid #56CCF2;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
}

.play-btn{
    cursor: pointer;
    display:block;
    border:2px solid #56CCF2;
    border-radius:50%;
    width: 5.3rem;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#56CCF2;
}